.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px -2px black;
    padding: 16px;
    background-color: #A3BCF9;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar-list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;

}

.navbar-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.login-button button{
    cursor: pointer;
    outline: none;
    width: 157px;
    height: 40px;
    border: 1px solid black;
    border-radius: 13px;
    color: black;
    background-color: #D1D2F9;
    font-size: 15px;
    font-weight: 500;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}